html, body {
    width: 1080px;
    height: 1920px;
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    background-image: url('airdrop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main-body {
    width: 80%; /* Set a definite width relative to the parent */
    max-width: 900px; /* Optional: Limit the maximum width */
    margin: 0 auto; /* Centers the element horizontally */
    font-size: 1.5rem;
    word-wrap: break-word; /* Ensures long words break to the next line */
    text-align: center; /* Centers the text inside the element */
    line-height: 1.5; /* Improves readability with proper line spacing */
    color: white; /* Matches the overall theme */
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-main {
    font-size: 2.5rem;
    text-align: center;
}

.source {
    position: absolute;
    width: fit-content;
    top: 1500px;
    left: 860px;
    transform: rotate(90deg); /* Rotates the element 90 degrees */
    transform-origin: center; /* Sets the rotation point to the center of the element */
    white-space: nowrap; /* Prevents text from breaking into the next line */
    overflow: hidden; /* Optional: Hides any overflowing text */
    font-size: 1.2rem;
    color: white;
}

.frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
}





.row1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-start;
}

.row2 {
    font-size: 2rem;
    display: flex;
    flex-direction: row; /* Ensures items are laid out in a row */
    align-items: flex-start; /* Vertically aligns items to the center */
    justify-content: space-evenly; /* Distributes items evenly with space between them */
    min-width: 900px;
    max-width: 900px; /* Ensures the container spans the full width */
    gap: 50px; /* Adds space between items */
    text-align: center; /* Ensures text inside elements is aligned to the left */
}

.logo {
    width: 135px;
    height: 135px;
}

.title {
    width: 100%;
    text-align: left;
}

.symbol {
    width: 135px;
    text-align: left;
}

.rank {
    text-align: left;
}

.name {
    text-align: left;
}

.event {
    text-align: right;
}

