<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Airdrop</title>
    <link rel="stylesheet" href="airdrop.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Airdrop</h1>
        </div>
        <div class="main-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, incidunt ut distinctio dignissimos nobis alias animi quae eveniet illum, et atque, perferendis fugiat autem. Ab ducimus est inventore repellat facere?
            Soluta adipisci possimus nihil iure eius doloribus voluptate quis dolores. Atque libero exercitationem maiores quas, hic blanditiis voluptatum sint totam et tempore impedit omnis nobis corporis laudantium, dolorem ea magnam?
            Dicta harum neque dolores voluptates. Sunt, possimus. Qui inventore molestias, corporis numquam iusto, tempora quasi placeat est dolore earum ipsa a cupiditate quam vero voluptate iure pariatur laborum quo exercitationem!</p>
        </div>
    </div>
    <div class="source">
        Source: #placeholder.com
    </div>
</body>
</html>